/*background: #7EB0EA; */
#masthead { /* Header */
    background-color: white;
}
#primary { /* Main content area */
    background: #F5C98C;
}
#secondary { /* Widget area / sidebar */
    background: #B2E78B;
}
#colophon { /* Footer (technically a footer in a book - with technical/print data) */
    background: #F2B0B4;
}
#masthead,
#primary,
#secondary,
#colophon {
    background-color: #fff;
}

/* Change the default width of the Foundation rows */
.row {
    max-width: 100em;
    margin-left: 0px;
}
/* Resizing font-size causes the entire page/grid to resize because of rem measurements */
/* @link: http://foundation.zurb.com/forum/posts/21347-reducing-body-font-size-reduces-column-width */
#primary {
    font-size: 120% !important; /* currently THIS doesn't work, but if I do html { ... } it resizes everything */
}

#primary-menu {
    padding: 0;
}

#breadcrumbs {
    list-style: none;
    position: absolute;
    top: 25px;
    overflow: hidden;
    margin-left: 0px;
}
#breadcrumbs li {
    float: left;
    margin-right: 10px;
    color: #aaa;
    font-size: 0.8em;
}
#breadcrumbs li::before {
    font-family: FontAwesome;
    content: "\f105";
    padding-right: 10px;
}
#breadcrumbs li:first-child::before {
    content: "";
}
#side-nav,
#main,
#secondary {
    padding-top: 50px;
    border-top: 5px solid #1ED3A4;
}
#side-nav {
    background-color: whitesmoke; /* #f5f5f5 */
}
#side-nav ul {
    margin: 0 0px 50px;
    padding: 0 20px;
}
#side-nav ul li {
    list-style-type: none;
    font-size: 0.8rem;
    text-transform: uppercase;
    border-top: 1px dotted silver;
}
#side-nav ul > li {
    padding: 10px 0;
}
#side-nav ul li a {
    color: #555;
}
#side-nav ul ul li { position: relative; }
#side-nav ul li ul {
    padding: 10px 0 35px;
    margin: 0;
}
#side-nav ul li ul li {
    margin: 0;
    padding: 10px 0;
    text-transform: capitalize;
}
#side-nav ul li ul li a {
    color: #aaa;
}
#side-nav ul ul li:hover {
    background-color: #777;
}
#side-nav ul ul li:hover > a {
    color: whitesmoke;
}
#side-nav ul li ul li > a:after { font-family: FontAwesome; content: ' \f0da'; padding-left: 5px; }
#side-nav ul li ul li > a:only-child:after { content: ''; }
#side-nav ul ul ul {
    list-style-type: none;
    background-color: whitesmoke;
    position: absolute;
    top: 0;
    right: -200px;
    width: 200px;
    z-index: 5;
    display: none;
    padding: 0;
}
#side-nav ul ul ul li {
    background-color: #777;
    padding: 10px;
}
#side-nav ul ul li:hover > ul {
    display: list-item;
}
#side-nav ul ul ul li a {
    color: whitesmoke;
}#side-nav ul ul ul li:hover {
    background-color: #169A70;
    padding-left: 20px;
    padding-right: 0px;
    animation: 500;
}

#top-navigation {
    
}
#footer-navigation {
    
}
#quickmenu {
    position: fixed;
    top: 0;
    background-color: #333;
    width: 64px;
    width: 4rem;
    height: 100%;
}
 .admin-bar #quickmenu {
    padding-top: 32px; 
}


.social-media-icons,
#menu-social-items {
    z-index: 2;
    position: absolute;
    bottom: 30px;
    margin-left: 0px;
}
.social-media-icons li,
#menu-social-items li {
    padding: 5px;
    border-top: 1px solid #555;
    width: 64px;
    width: 4rem;
    text-align: center;
    font-size: 0.8em;
    position: relative;
}

.menu-social li a[href*="facebook.com"]::before { content: '\f09a'; }
.menu-social li a[href*="twitter.com"]::before { content: '\f099'; }
.menu-social li a[href*="github.com"]::before { content: '\f09b'; }
.menu-social li a[href*="linkedin.com"]::before { content: '\f0e1'; }
.menu-social li a[href*="wordpress.com"]::before { content: '\f19a'; }
.menu-social li a[href*="wordpress.org"]::before { content: '\f19a'; }
.menu-social li a[href*="tumblr.com"]::before { content: '\f173'; }
.menu-social li a[href*="plus.google.com"]::before { content: '\f0d5'; }
.menu-social li a[href*="dribbble.com"]::before { content: '\f17d'; }
.menu-social li a[href*="instagram.com"]::before { content: '\f16d'; }
.menu-social li a[href*="vimeo.com"]::before { content: '\f194'; }
.menu-social li a[href*="youtube.com"]::before { content: '\f167'; }
.menu-social li a[href*="pinterest.com"]::before { content: '\f0d2'; }
.menu-social li a[href*="flickr.com"]::before { content: '\f16e'; }
.menu-social li a[href*="bitbucket.com"]::before { content: '\f171'; }
.menu-social li a[href*="digg.com"]::before { content: '\f1a6'; }
.menu-social li a[href*="reddit.com"]::before { content: '\f1a1'; }
.menu-social li a[href*="codepen.io"]::before { content: '\f1cb'; }
.menu-social li a[href*="behance.com"]::before { content: '\f1b4'; }
.menu-social li a[href*="slideshare.net"]::before { content: '\f1e7'; }

.menu-social li a:before {
    display: inline-block;
    padding: 0 5px;
    vertical-align: top;
    font-family: 'FontAwesome';
    font-size: 1.4em;
    color: #777;
    -webkit-font-smoothing: antialiased;
}

.search-toggle { 
    z-index: 2;
    margin-left: 0px;
    color: #777;
    border-top: none;
    border-bottom: 1px solid #555;
    height: 50px;
    width: 64px;
    width: 4rem;
    text-align: center;
    font-size: 1.2em;
    padding-top: 10px;
    cursor: pointer;
}
.search-toggle:hover,
.search-toggle.active {
    color: white;
    background-color: #1ED3A4;
    border-bottom: 1px solid #1ED3A4;
}
.social-media-icons a,
#menu-social-items a,
#search a {
    color: #777;
}
.social-media-icons li:hover {
    background-color: #444;
}
.social-media-icons li:hover > a {
    color: #1ED3A4;
}

.topbutton {
    height: 50px;
    width: 64px;
    width: 4rem;
    position: fixed;
    bottom: 0;
    z-index: 1;
    color: #777;
    text-align: center;
    vertical-align: bottom;
    font-size: 0.7em;
    border-top: 1px solid #555;
    clear: left;
    padding-top: 5px;
}
.topbutton i {
    font-size: 2em;   
}
.topbutton:hover {
    background-color: #1ED3A4;
}
.topbutton:hover > a {
    color: white;
}